h2, h3, h4, h5 {
  color: purple;
}

.subjectHeader{
  font-style: sans-serif;
}

thead, tfoot{
  color: red;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
}

#scoreBoard {
  border-style: double;
  border-width: 5px;
  background-color: lightblue;
}

/* #scoreBoard > li:first-child {
  border-style: solid;
  border-width: 3px;
  background-color: darkblue;
} */
.caption {
  border-color: black;
}

ul, ol {
  list-style-type: square;
}

.hyperLink:hover {
  background-color: hotpink;
  text-decoration: none;
}
blockquote {
  background-color: darkgray;
  color: green;
}
#teamRoster > li > img {
  height: 0px;
  visibility: hidden;
}

#teamRoster > li:first-child {
  background: linear-gradient (rgba(255.255.255.0.75), rgba(255.255.255.0.75)), url("https://upload.wikimedia.org/wikipedia/en/thumb/4/44/Denver_Broncos_logo.svg/200px-Denver_Broncos_logo.svg.png") no-repeat;
  background-size: contain;
}
#teamRoster > li:last-child {
  background: linear-gradient (rgba(255.255.255.0.75), rgba(255.255.255.0.75)), url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Chicago_Bears_logo.svg/200px-Chicago_Bears_logo.svg.png") no-repeat;
  background-size: contain;
}
#checkbox-grid > li: {
  list-style-type: none;
}
ol > li:first-child {
  font-weight: bold;
}
